.landing {
  position: relative;
  background: url("./img/landing.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-inner {
  padding-top: 80px;
}

.w18rem {
  width: 18rem;
}

.w20rem {
  width: 20rem;
}
